# Strings

Strings are sequences of characters. Strings are case sensitive.

### Basic operations

Comparision using ==,>,<

In [1]:
'a'<'b'

True

In [2]:
s = "abc"

In [3]:
r = "bcd"

In [4]:
s<r

True

In [5]:
s==r

False

In [6]:
s>r

False

In [7]:
s<=r

True

In [8]:
len(s)

3

In [9]:
s[1]

'b'

In [10]:
s[0]

'a'

In [11]:
s+r

'abcbcd'

In [12]:
s*3

'abcabcabc'

In [13]:
s-r

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [14]:
s/r

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [15]:
s*r

TypeError: can't multiply sequence by non-int of type 'str'

In [16]:
s[-1]

'c'

In [17]:
s[-3]

'a'

In [18]:
s = "abcdefghijk"

In [19]:
s[1:7]

'bcdefg'

In [20]:
s[1:7:2]

'bdf'

In [21]:
s[:]

'abcdefghijk'

In [22]:
s[::]

'abcdefghijk'

In [23]:
s[::-1]

'kjihgfedcba'

In the following case the operation goes from 4 to 2 rather than from 4 to 0 as we are going backward.

In [24]:
s[4:1:-2]

'ec'

Immutability of strings

In [25]:
s = 'hello'

In [28]:
s[0] = 'w'

TypeError: 'str' object does not support item assignment

In [29]:
s = 'e'+s[1:]

In [30]:
s

'eello'

Iterating over strings

In [32]:
s = "abcdefghijkl"

In [33]:
for char in s:     #Better way
    print(char)

a
b
c
d
e
f
g
h
i
j
k
l

In [34]:
for index in range(len(s)):     #avoid this type of iteration
    print(s[index])

a
b
c
d
e
f
g
h
i
j
k
l

### String operations

In [37]:
s = "abhishek thakur python algorithms"

The following command breaks the string on the given character.

In [38]:
s.split(" ")

['abhishek', 'thakur', 'python', 'algorithms']

In [40]:
s.split('a')

['', 'bhishek th', 'kur python ', 'lgorithms']

The following command returns true if the string contains only whitespaces

In [41]:
s.isspace()

False

In [46]:
b = "  "

In [47]:
b.isspace()

True

The following command removes whitespaces from the end but does not change the original string s

In [43]:
s = "   abhishek thakur python algorithms   "

In [44]:
s.strip()

'abhishek thakur python algorithms'

Converting to lower and upper cases

In [51]:
s.upper()

'   ABHISHEK THAKUR PYTHON ALGORITHMS   '

In [52]:
s

'   abhishek thakur python algorithms   '

In [53]:
s.lower()

'   abhishek thakur python algorithms   '

Joining a list of strings

In [55]:
" ".join(['Abhishek','Thakur', 'Python', 'Algo'])

'Abhishek Thakur Python Algo'

In [56]:
"-".join(['Abhishek','Thakur', 'Python', 'Algo'])

'Abhishek-Thakur-Python-Algo'

Finding the index of the first occurence of a substring in a string

In [57]:
s = 'Abhishek Thakur'

In [58]:
s.find('k')

7

In [59]:
s.find("Tha")

9

In [60]:
s.find('tha')

-1

In [61]:
s.find('z')

-1

In [62]:
s.replace('Tha','tha')

'Abhishek thakur'

In [63]:
s

'Abhishek Thakur'

### Formatting

In [64]:
s.format(2,3)

'Abhishek Thakur'